<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
    <h1>Игры на ПК</h1>
    <table border="2">
    <thead>
        <tr>
            <th><h3>Номер</h3></th>
            <th><h3>Название</h3></th>
            <th><h3>Описание</h3></th>
            <th><h3>Цена</h3></th>
            <th><h3>Добавление в корзину</h3></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><h3>Продукт A</h3></td>
            <td><h3>Описание продукта A</h3></td>
            <td><h3>100 руб.</h3></td>
            <th><button><h3>Добавит в корзину</h3></button></th>
        </tr>
        <tr>
            <td><h3>2</h3></td>
            <td><h3>Продукт B</h3></td>
            <td><h3>Описание продукта B</h3></td>
            <td><h3>200 руб.</h3></td>
            <th><button><h3>Добавить в корзину</h3></button></th>
        </tr>
        <tr>
            <td><h3>3</h3></td>
            <td><h3>Продукт C</h3></td>
            <td><h3>Описание продукта C</h3></td>
            <td><h3>300 руб.</h3></td>
            <th><button><h3>Добавить в корзину</h3></button></th>
        </tr>
    </tbody>
</table>
    <button><a href="http://127.0.0.1:8000"><h2>Вернуться на главную страницу</h2></a></button>
     <button><a href="http://127.0.0.1:8000/cart"><h2>Корзина</h2></a></button>
</body>
</html>